
#profile_alert {
    display:  inline-block;
}

body {
    padding-top: 70px;
}

.container {
    max-width: 1000px;
}

.jumbotron, .center{
    text-align: center;
}

.inline {
    display: inline-block;
}

#request {
    margin-bottom: 0px;
}

#submit_btn {
    margin-right:  25px;
}

#reset_btn {
    margin-left:  25px;
}

.form_block {
    background: #eee;  
    padding: 10px 15px 5px 15px;
    border-radius:  5px;
    margin-bottom: 20px;
}

.stud_ID {
    padding-top: 20px;
    width: 40%;
    margin-left: auto;
    margin-right:  auto;
}

#center_div {
    margin-top: 20px;
    margin-bottom:  40px;
}

#contact_div {
    margin-bottom: 40px;
}

#wrapper {
    margin-bottom: 40px;
}

/*-----------------media queries---------------*/
/*********************************************/

/*.embed-responsive,
.embed-responsive-4by3,
.embed-responsive-item {
    width: 533px;
    height: 400px;
    margin: auto;
    }*/

@media (max-width:  767px) {
    .page-header > .nav > li > a {
    padding: 5px 5px;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 20px 0 10px;
        border-bottom: 1px solid #eee;
    }
    .page-header > h3 {
        font-size: 1.5em;
    }
    .stud_ID {
        width: 100%;
    }
}

@media (max-width:  480px) {
    .page-header > h3 {
        clear: both;
    }
}
